<launch>
   

   <arg name="multi_robot_name" default=""/>
   <!-- launch the /cmd_vel, /odom,/tf -->
	<!--include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"></include-->
     <include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch">
         <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
     </include>  
   <!-- launch the realsense-->
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
          <arg name="enable_pointcloud"         default="true"/>
	  <arg name="pointcloud_texture_stream" default="RS2_STREAM_COLOR"/>
	  <arg name="pointcloud_texture_index"  default="0"/>
	  <arg name="allow_no_texture_points"   default="true"/>
	  <arg name="ordered_pc"                default="true"/>
	  <arg name="enable_sync"               default="true"/>
	  <arg name="align_depth"               default="true"/>
	</include>
   <!-- launch the rplidar -->
       <include file="$(find rplidar_ros)/launch/rplidar.launch"></include>
   <!-- launch the image to pc -->
        <!--include file="$(find pointcloud_to_laser)/launch/depthimgTopc.launch"></include-->
      <!-- launch the image to pc -->
        <!--include file="$(find pointcloud_to_laser)/launch/pointcloud_to_laser_tracer.launch"></include-->
</launch>
